/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Variables */
:root {
  --primary-color: #ffffff;
  --primary-dark-color: #191919;
  --second-color: #e7e7e7;
  --second-dark-color: #252525;
  --text-color: #36362f;
  --text-dark-color: #e2e2e2;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: var(--text-color);
}

/* Re-usable styles */

button {
  color: var(--text-color);
  background-color: var(--second-color);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sidebar button {
  background-color: var(--primary-color);
}

/* Styles */

/* timer */
.timer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.timer .display {
  padding: 0 4rem;
  background-color: var(--second-color);
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.timer .display span {
  font-size: 8rem;
  letter-spacing: 9px;
}

.timer .start-button {
  font-size: 1.5rem;
  padding: 10px;
}

/* sidebar */
.open-menu-button {
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.open-menu-button i {
  width: 24px;
  height: 24px;
  font-size: 26px;
}

.sidebar {
  width: 0;
  height: 100%;
  padding-top: 80px;
  background: var(--second-color);
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: .4s ease-out;
}

.sidebar .close-menu-button {
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sidebar .close-menu-button i {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  font-size: 26px;
}

.sidebar .theme-button{
  width: 90%;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  transition: .5s;
}

.sidebar .theme-button i {
  color: var(--text-color);
  font-size: 26px;
}

/* Settings style */
.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings label{
  font-size: 1.1rem;
  align-self: flex-start;
  margin-bottom: 2px;
}

.settings input[type='number']{
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  outline: none;
}

.settings .apply-config-button{
  padding: 5px;
  font-size: 1.1rem;
}
